<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>FloatingNotes URL Scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>floatingnotes</string>
			</array>
			<key>CFBundleURLIconFile</key>
			<string>AppIcon</string>
		</dict>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Floating Notes</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSUIElement</key>
	<false/>
</dict>
</plist> 